/* reset basico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-bottom: 20px;
}

.boton-v {
    padding: 5px;
    border: 1px solid black;
    background-color: #d6eaf8;
    color: #2e86c1;
    border-radius: 8px;
    transition: 0.5s ease;
}

.boton-v:hover{
    background-color: #3498db;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo {
    color: black;
    border: 1px solid black;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: #f4f6f6;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.titulo2{
    text-align: center;
    font-size: 26px;
    color: green;
    margin-bottom: 30px;
}

label{
    text-align: center;
    font-size: 16px;
}

.formulario {
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #f4f6f6;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

label{
    margin: 10px;
    width: 100%;
}

input{
    border-radius: 5px;
    width: 60%;
    border: 1px solid black;
    padding: 5px;
    font-size: 12px;
}

select{
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 60%;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.actualizar_b{
    padding: 10px;
    width: 80%;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #a2d9ce;
    color: #117a65;
    font-size: 16px;
    cursor: pointer;
}

.actualizar_b:hover{
    background-color: #16a085;
    color: black;
}

    